<h1>Pesquisa de Turmas</h1>

<%= render 'search_form', url: search_disciplines_path, allocation_options: [] %>

<% if @disciplines.present? %>

	<i>Exibindo resultados para </i>
	<strong><%= @search_attribute %></strong>
	<table class="table table-hover">
    <tr>
      <th>Disciplina</th>
			<th>Turma</th>
      <th>Cursos</th>
      <th>Nº de Vagas</th>
      <th style="text-align:center">Alocar</th>
      <th style="text-align:center">Solicitar Alocação</th>
      <th style="text-align:center">Desalocar</th>
      <th style="text-align:center">Alterar</th>
      <th style="text-align:center">Excluir</th>
    </tr>
    <% @school_rooms.each do |school_room| %>
      <tr>
				<td><%= school_room.discipline.name %></td>
        <td><%= school_room.name %></td>
        <td>
          <% school_room.courses.each do |course| %>
            <%= course.name %> <br>
          <% end %>
        </td>
        <td><%= school_room.vacancies %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_alloc.png"), allocations_new_path(school_room.id) %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_request_alloc.png"), allocation_period_path(school_room.id) %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_alloc_red.png"), allocations_destroy_path(school_room.id) %></td>
        <td style="text-align:center"><%= link_to image_tag("icon_edit.png"), edit_school_room_path(school_room.id) %></td>
				<td style="text-align:center"><% # link_to image_tag("icon_trash.png"), destroy_school_room_path(school_room.id), data: {confirm: "Esta ação não poderá mais ser desfeita. Tem certeza que deseja continuar?"} %></td>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
