<div class="background"></div>

<div class="form-login">
  <div class="form-login-header">
    <a class="form-login-brand" href="/">SIGS</a>
  </div>
  <!-- <div class="image_sigs" width="460" height="345"></div> -->
  <!-- <img src="unb_logo.png" class="image_sigs" width="460" height="345"> -->
  <%= form_for :session, url: sign_in_path, html: {class:"rails-login"} do |f| %>
    <%= f.email_field :email, autofocus: true, class: "input-field", placeholder: "Usuário"  %>
    <%= f.password_field :password, autocomplete: "off", class: "input-field", placeholder: "Senha" %>
    <%= f.submit "Entrar", class: "button-success" %>
  <% end %>
  <div class="form-login-footer">
    <%= link_to "Solicitar Cadastro", user_new_path, class: "cadastro" %>
  </div>
</div>
