<div class="background">
<div class="form-login">
  <label class="image_sigs"></label>
    <%= form_for :session, url: sign_in_path, html: {class:"rails-login"} do |f| %>
      <%= f.email_field :email, autofocus: true, class: "username", placeholder: "Username"  %>
      <%= f.password_field :password, autocomplete: "off", class: "password", placeholder: "Password" %>
      <%= f.submit "Entrar", class: "login btn btn-success" %>
      <%= link_to "Solicitar Cadastro", user_new_path, class: "cadastro" %>
    <% end %>
  </div>
</div>
