<div class="background"></div>
<div id="particles">
  <div id="intro">
    <div class="form-register">

  <div class="flexContainer">
    <a class="form-login-brand" href="/">SIGS</a>
    <h1 class="form-title">Novo Usuário</h1>
  </div>

  <div id="form-new-user">
    <ul id="erro-message">
      <% @user.errors.messages.values.each do |msg| %>
        <% msg.each do |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
    </ul>
    <%= form_for @user, url: user_create_path,  :html => {:role => 'form'} do |f| %>
      <%= f.hidden_field :active, :value => '0' %>

      <div class="row">

        <div class="col-md-12">
          <%= f.label :name, "Nome Completo" %>
          <%= f.text_field :name, class: 'input-field' %>

          <%= f.label :email, "E-mail" %>
          <%= f.text_field :email, class: 'input-field', placeholder: 'nome@unb.br' %>

          <%= f.label :cpf, "CPF " %>
          <%= f.text_field :cpf, class: 'form-control' %>

          <%= f.label :image, "Avatar" %>
          <%= f.file_field :image, class: 'form-control' %>

          <%= f.label :role, "Cargo" %>
          <fieldset id="type">
            <div class="radioButton">
              <input type="radio" name="type" value="administrative_assistant" id="adm_as" checked>
              <label>Assistente Administrativo</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="type" value="coordinator" id="coord">
              <label>Coordenador de curso</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="type" value="deg" id="deg_user">
              <label>DEG</label>
            </div>
          </fieldset>

          <%= f.label :registration, "Matrícula FUB" %>
          <%= f.text_field :registration, class: 'input-field', placeholder: 'ex: 232425' %>

          <%= f.label :password, "Senha" %>
          <%= f.password_field :password, class: 'input-field', placeholder: 'Mínimo 6 caracteres' %>

          <div class="row">
            <div class="col-md-12">
              <meter max="4" id="password-strength-meter"></meter>
              <div id="password-strength-text"></div>
            </div>
          </div>

          <%= f.label :password, "Confirmar senha" %>
          <%= f.password_field :password_confirmation, class: 'input-field'%>

          <div id="dropdown-coordinator">

              <%= f.fields_for :coordinator do |ff| %>
                <p class="dropText">Curso</p>
                <%=ff.collection_select(:course_id,Course.all,:id,:name, include_blank: true)%>
              <% end %>

          </div>
        </div>

        <%= f.submit "Enviar", class: 'button-success' %>
      </div>


    <% end %>
  </div>
  <div class="form-login-footer">
    <%= link_to "Já está cadastrado? Fazer login...", root_path, class: 'cadastro'%>
    <%= image_tag "/assets/unb_logo.png", class: "image_sigs" %>
  </div>

</div>
  </div>
</div>
